@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

:root {
    --red: rgb(234, 83, 83);
    --cyan: rgb(69, 211, 211);
    --orange: rgb(252, 175, 74);
    --blue: rgb(84, 158, 242);
    --veryDarkBlue: rgb(76, 78, 97);
    --grayishBlue: rgb(163, 165, 174);
    --veryLightGray: rgb(250, 250, 250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--veryLightGray);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}


h1 {
    color: var(--grayishBlue);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

h2 {
    color: var(--veryDarkBlue);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    color: var(--grayishBlue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.p {
    width: 550px;
  overflow-wrap: break-word;
}

strong {
    color: var(--veryDarkBlue);
}

img {
    margin-bottom: 1rem;
    float: right;
}

.card {
    background-color: #fff;
    text-align: left;
    width: 400px;
    padding: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.turquoise {
    border-top: 5px solid var(--cyan);
    margin-top: 5vh;
}

.rouge {
    border-top: 5px solid var(--red);
    margin-top: -30vh;
}

.jaune {
    border-top: 5px solid var(--orange);
    margin-top: 40vh;
    margin-left: -21.6vw;
}

.bleu {
    border-top: 5px solid var(--blue);
    margin-top: 5vh;
}

.text-align {
    text-align: left;
    padding-bottom: 3rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Media Queries */
@media (min-width: 375px) and (max-width: 1440px) {
    body {
        font-size: 15px;
        text-align: center;
        
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    h2 {
        font-size: 1rem;
    }

    #p {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin: 5px;
        white-space: normal;
    }

    .card {
        background-color: #fff;
        text-align: left;
        width: 300px;
        padding: 1rem;
        border-radius: 0.5rem;
        margin: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 180vh;
        color: var(--grayishBlue);
    }

    .turquoise {
        margin-top: 8vh;
    }

    .card {
        margin-bottom: 1rem;
    }

    .text-align {
        margin-top: -1vh;
    }

    .attribution {
        margin-top: -5vh;
    }
}