@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

:root {
    --green: rgb(197, 248, 42);
    --white: rgb(255, 255, 255);
    --grey-700: rgb(51, 51, 51);
    --grey-800: rgb(34, 34, 34);
    --grey-900: rgb(17, 17, 17);
}

body {
    background-color: var(--grey-900);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20vh;
    padding-bottom: 5vh;
}

img {
    border-radius: 50%;
    width: 100px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    color: var(--green);
    font-weight: 600;
    margin-top: -2vh;

}

h3 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--grey-700);
    padding: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
   width: 350px;
}

.card {
    background-color: var(--grey-800);
    color: var(--white);
    width: 375px;
    height: 670px;
    border-radius: 10px;
    margin-top: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  @media screen and (min-width: 375px) and (max-width: 1440px) {
    h1 {
        font-weight: 700;
        font-size: 30px;
    }

    h2 {
        font-weight: 600;
        margin-top: -2vh;
        font-size: 16px;
    }

    h3 {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
    }

    p {
        width: 260px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        background-color: var(--grey-700);
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card {
        background-color: var(--grey-800);
        color: var(--white);
        width: 275px;
        height: 580px;
        border-radius: 10px;
        margin-top: 100px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    
    
  }